.cheat-sheet{
    padding: 0 100px;
    margin: 0 auto;
}

.basic{
    margin: 0 auto;
    padding: 0 auto;
}

.StepA1{
    font-size: 15px;
    padding-bottom: 10px;
}

.head1{
    font-size: 14px;
}

.examples{
    font-size: 14px;
}

.instructions li{
    padding: 5px 70px;
    font-size: 15px;
}

.instructions ul{
    list-style: none; 
}

.instructions {
    color: black;
}