.cheat-sheet{
    padding: 0 100px;
    margin: 0 auto;
}

.basic{
    margin: 0 auto;
    padding: 0 auto;
}

.StepA1{
    font-size: 15px;
    padding-bottom: 10px;
}

.head1{
    font-size: 14px;
}

.examples{
    font-size: 14px;
}

.instructions li{
    padding: 5px 70px;
    font-size: 15px;
}

.instructions ul{
    list-style: none; 
}

.instructions {
    color: black;
}

.cont {
    margin-top: 100px;
}

.quick{
    font-size: 35px;
}

.depth{
    font-size: 35px;
}

.jumbotron{
    padding: 35px;
    border: black solid 15px;
}

.basic-responsibilities{
    font-size: 20px;
}

.resp{
    font-size: 40px;
}

.down{
    font: black solid;
    font-size: 32px;
}

.info{
    font-size: 15px;
    font-family; 'Times New Roman', Times, serif;
}

.instructions p{
    font-size: 15px;
}